
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form method="post" action="Welcome/PostData">
    <p>
        Value1: <input type="text" id="value1" name="value1" />
    </p>
    <p>
        value2: <input type="text" id="value2" name="value2" />
    </p>
    <input type="submit" id="submit1" value="OK" />
</form>
